.yahoo-weather-current {
  padding: 0.5em;
}

.yahoo-weather-day-bg {
  background: #CCE1FF url(images/yw_day_bg.png) repeat-x scroll 0 0;
}

.yahoo-weather-night-bg {
  background: #CCE1FF url(images/yw_night_bg.png) repeat-x scroll 0 0;
}

.yahoo-weather-current p {
  margin: 0;
}

.yahoo-weather-forecast {
  margin-top: 1.5em;
}

.yahoo-weather-forecast p {
  margin: 0;
}

.forecast-item {
  margin: 0.5em;
}
